.search-site {
  &__query {
    position:absolute;
    top:0;
    left:0;
    right:0;
    height:50px
  }

  &__results {
    top:50px;
    left:0;
    right:0;
    bottom:0;
    position: absolute;
    overflow: auto;
  }
}
